.card {
  max-width: 400px;
  height: 225px;
  padding: 20px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.img {
  margin-bottom: 12px;
}

.text {
  font-size: 18px;
}

@media screen and (max-width: 1439px) {
  .card {
    max-width: 280px;
    height: 240px;
  }  
}