.primary {
  color: var(--primary-black);
  background-color: var(--btn-primary-color);
  border-radius: 5px;
  font-weight: 500;
}

.secondary {
  color: var(--primary-white);
  background-color: var(--btn-secondary-color);
  border-radius: 5px;
}

.deactivated {
  opacity: 0.2;
}

.clear {
  padding: 0;
}

.basic {
  color: var(--primary-black);
  background-color: #D2D2D2;
  font-weight: 500;
  border-radius: 5px;
}