.primary {
  color: var(--primary-black);
  background-color: var(--btn-primary-color);
  border-radius: 5px;
  font-weight: 500;
}

.secondary {
  padding: 14px 64px 18px;
  color: var(--primary-white);
  background-color: var(--btn-secondary-color);
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
}

.deactivated {
  opacity: 0.2;
}