.input-wrapper {
  width: fit-content;
  position: relative;
}

.input {
  padding: 4px 17px;
  background-color: transparent;
  border: 1px solid #C7C7C7;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
  border-radius: 5px;
  font-size: 16px;

  &::placeholder {
    opacity: 0.5;
    filter: saturate(0.8);
  }
}

.error {
  border: 1px solid rgb(255 89 89);
  box-shadow: 0 0 20px 0 rgb(255 89 89 / 20%);
}

.error-msg {
  display: block;
  position: absolute;
  margin-top: 4px;
  left: 0;
  right: 0;
  text-align: center;
  color: rgb(255 89 89);
}
