* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

button {
  padding: 0.3rem 0.7rem;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}