:root {
  // fonts
    --font-main: "Ferry", "Inter";
    --font-secondary: "Inter", "Ferry";

  // colors
  // main colors
  --primary-cyan: #029491;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  // secondary colors
  --secondary-orange: #FFB64F;
  --secondary-cyan: #7CE3E1;
  --secondary-blue: #5970FF;
}