:root {
  // fonts
    --font-main: "Ferry", "Inter";
    --font-secondary: "Inter", "Ferry";

  // colors
  --primary-color: #029491;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  
  --secondary-bg-color: #FFB64F;

  --btn-primary-color: #7CE3E1;
  --btn-secondary-color: #5970FF;
}