.user-panel {
  display: flex;
  align-items: center;
  column-gap: 128px;
}

.user-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 9px;
  row-gap: 7px;
  align-items: center;
  padding: 12px 8px 15px 10px;
  background-color: rgb(217 217 217 / 30%);
  border-radius: 5px;
}

.user-info-used-text,
.user-info-limit-text {
  justify-self: end;
  opacity: 0.4;
  font-size: 10px;
}

.user-info-used-count,
.user-info-limit-count {
  font-weight: 700;
}

.user-info-limit-count {
  color: #8AC540;
}

.user-avatar {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 4px;
  row-gap: 3px;
  align-items: center;
  justify-items: end;
}

.user-avatar-name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  opacity: 0.7;
}

.user-avatar-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
}

.logout-btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 10px;
  opacity: 0.4;
}

@media screen and (max-width: 1439px) {
  .user-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    column-gap: 0;
    row-gap: 0;
    padding: 5px 25px 5px 10px;
    background-color: rgb(217 217 217 / 30%);
    border-radius: 5px;
  }

  .user-info-used-text,
  .user-info-limit-text {
    justify-self: start;
    font-size: 8px;
  }

  .user-info-used-count,
  .user-info-limit-count {
    font-weight: 700;
  }

  .user-info-used-count {
    margin-bottom: 7px;
  }

  .user-avatar {
    display: none;
  }
}