.header { 
 min-height: 93px;
}

.content {
  display: flex;
  align-items: center;
  min-height: 93px;
}

.logo {
  margin-right: 401px;
}

.panel {
  margin-left: auto;
}

@media screen and (max-width: 1439px) {
  .logo {
    margin-right: 0px;
  }

  .panel,
  .nav {
    display: none;
  }
}