.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 19px 25px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  font-size: 16px;
}

.meta {
  color: #949494;
}

.date {
  margin-right: 18px;
}

.link {
  text-decoration: underline;
}

.title {
  height: 93px;
  overflow: hidden;
  margin-top: 24px;
  font-size: 26px;
  font-weight: 500;
}

.mark {
  width: fit-content;
  margin: 20px 0px 0px;
  padding: 4px 14px;
  background-color: #FFB64F;
  border-radius: 5px;
  font-size: 12px;
}

.img {
  margin-top: 14px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 158px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.description {
  position: relative;
  white-space: break-word;
  word-wrap: break-word;
  flex: 1 0 auto;
  max-height: 222px;
  overflow: hidden;
  margin-bottom: 32px;
  opacity: 0.5;
}

.description:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background: linear-gradient(transparent, rgb(255, 255, 255));
  pointer-events: none;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 14px 30px;
  background-color: #7CE3E1;
}

.counter {
  align-self: flex-end;
  color: #949494;
}

@media screen and (max-width: 1439px) {
  .card {
    padding: 19px 14px 18px 28px;
    font-size: 14px;
  }
  
  .date {
    margin-right: 9px;
  }
  
  .title {
    height: 70px;
    margin-top: 21px;
    font-size: 19px;
  }
  
  .mark {
    margin: 20px 0px 0px;
    padding: 4px 12px;
    font-size: 10px;
  }

  .img {
    margin-top: 13px;
  }
  
  .description {
    flex: 1 0 auto;
    max-height: 255px;
    margin-bottom: 25px;
    font-size: 12px;
  }
  
  .btn {
    padding: 14px 29px;
    background-color: #7CE3E1;
  }
}