.hero {
  display: flex;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-position: 100% -27px;
}

.title {
  font-family: var(--font-main);
  font-size: 60px;
  margin-bottom: 20px;
}

.text {
  max-width: 535px;
  font-size: 20px;
  margin-bottom: 70px;
}

.hero-btn {
  position: absolute;
  padding: 14px 64px 18px;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 1439px) {
  .hero {
    background-position: 0 100%;
    background-size: 347px 327px;
    padding-bottom: 366px;
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 32px;
  }
}