.card-list {
  display: flex;
  justify-content: space-between;
  gap: 37px;
}

@media screen and (max-width: 1439px) {
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 43px;
  }
}