.auth {
  margin-top: 69px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto 1fr;
}

.title {
  font-family: var(--font-main);
  font-size: 40px;
}

.bg {
  margin-top: 14px;
  margin-left: 112px;
  width: 322px;
  height: 342px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-self: start;
  min-width: 429px;
  padding: 25px 25px 40px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
  font-size: 16px;
}

.btn-panel {
  display: flex;
  column-gap: 15px;
  margin-bottom: 40px;
}

.btn {
  width: 100%;
  padding: 0 35px 8px;
  font-size: 16px;
  border-bottom: 2px solid #C7C7C7;
  color: #C7C7C7;
}

.active {
  color: var(--primary-cyan);
  border-color: var(--primary-cyan);
}

@media screen and (max-width: 1439px) {
  .auth {
    margin-top: 31px;
    margin-bottom: 80px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .title {
    font-size: 22px;
    margin-bottom: 45px;
  }

  .bg {
    margin-top: 49px;
    margin-left: 0px;
    width: 335px;
    height: 356px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-self: start;
    min-width: 325px;
    padding: 25px 15px 20px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    font-size: 14px;
  }

  .btn-panel {
    display: flex;
    column-gap: 20px;
    margin-bottom: 40px;
  }
  
  .btn {
    width: 100%;
    padding: 10px 20px;
  }
}